body{
    background-image: url(https://st4.depositphotos.com/1053932/21979/i/1600/depositphotos_219790824-stock-photo-christmas-border-frame-white-snow.jpg);
}
.timer{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}
.field{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, rgba(252, 249, 249,0.6), rgba(216, 216, 216,0.4)  70%);
    border-radius: 10%;
    
}
.field+.field{
    margin-left: 50px;
}
.value{
    color: red;
    font-weight: 700;
    font-size: 54px;
}
.label{
    color: green;
    font-weight: 700;
    font-size: 40px;
}